body {
  font-family: "Exo 2", sans-serif;
  margin: 0;
  background-size: 10px 10px;
}
::selection {
  box-shadow: none;
  background: rgba(102, 0, 0, 0.87);
}
a {
  text-decoration: none;
}
h1,
h2,
p {
  text-align: center;
  font-size: 16pt;
  margin-bottom: 0;
}

.wrap {
  background-color: #e5c8bc;
  min-height: 100vh;
  width: 100%;
}
.header {
  background: rgba(102, 0, 0, 0.87);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
}
.logo {
  position: absolute;
  color: #e5c8bc;
  font-size: 24px;
  left: 40px;
}

nav ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  outline: none;
}

.topmenu {
  backface-visibility: hidden;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}

.topmenu > li > a {
  font-family: "Exo 2", sans-serif;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-weight: bold;
  color: white;
  transition: 0.4s ease-in-out;
}

.topmenu #paragraph:hover {
  background-color: rgba(51, 0, 0, 0.87);
}

#product_1 {
  display: flex;
  margin: 50px 50px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fruits {
  width: 250px;
  height: 300px;
  border: 1px solid black;
  margin-bottom: 30px;
  margin-left: 50px;
}

img {
  background-color: #e5c8bc;
  display: flex;
  margin: auto;
}

input {
  width: 35px;
  height: 23px;
}

button {
  width: 45px;
  height: 33px;
  background-color: rgb(196, 196, 196);
  border: 1px solid grey;
  border-radius: 7px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(128, 128, 128);
}

/* Admin page */
.admin-page {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 40px 0;
  display: flex;
  width: 100%;
}

.table {
  border: 1px solid #999;
  border-collapse: collapse;
  margin: 20px 0;
  padding: 10px;
  width: 80%;
}
.table th {
  border: 1px solid #999;
  padding: 10px;
}
.table td {
  border: 1px solid #999;
  text-align: center;
  padding: 10px;
}
.table td:hover {
  background: #e4cbc0;
}
.table img {
  height: 30px;
  width: 30px;
}
.table .edit,
.table .delete {
  cursor: pointer;
}
.admin-page .btn {
  border: 1px solid #999;
  background: #ccc;
  text-align: center;
  padding: 10px 40px;
  font-weight: 500;
  cursor: pointer;
}
.admin-page .btn:hover {
  border: 1px solid #fff;
  background: #55f72c;
}
.admin-page .modal-edit {
  border: 1px solid #999;
  background: #e4d4cd;
  position: absolute;
  display: none;
  height: 400px;
  z-index: 10;
  width: 40%;
}

.admin-page .modal-edit form {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
}
.admin-page .modal-edit .item {
  justify-content: space-between;
  margin: 10px 0;
  display: flex;
  height: auto;
  width: 80%;
}
.admin-page .modal-edit .item input {
  width: 80%;
}
/* main page */
.main-page .content {
  height: calc(100vh - 70px);
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  z-index: 25;
}
.main-page #myVideo {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: 1;
  top: 70px;
  bottom: 0;
  right: 0;
}
.main-page .content h1 {
  font-size: 50px;
}
/*  */
.content .basket table,
th,
td {
  border: 1px solid black;
  height: 50px;
}

.basket {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 40px 0;
  display: flex;
  width: 100%;
}
a.close-modal {
  cursor: pointer;
  font-size: xx-large;
  margin-left: 20px;
}
.overlay-js {
  overflow: hidden;
}

.hide {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #111;
  opacity: 1;
}